{{- if .NameServers -}}
{{- range .NameServers }}
{{ .IPv4 }}:53 {
    errors
    log
    reload 5s
{{- range $.Zones }}
    file {{ $.ZonesDir }}/{{ .FileName }} {{ .Domain }}
{{- end }}
    cache 30
}

{{ end -}}
{{- else -}}
.:53 {
    errors
    log
}
{{- end -}}
