{{- if .NameServers -}}
.:53 {
{{- range .BindIPs }}
    bind {{ . }}
{{- end }}
    errors
    log
{{- range .Zones }}
    file {{ $.ZonesDir }}/{{ .FileName }} {{ .Domain }} {
        reload 5s
    }
{{- end }}
}
{{- else -}}
.:53 {
    errors
    log
}
{{- end -}}
